.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.voted {
  font-weight: bold;
}

main {
  margin: 0.2em;
}

.nav {
  margin: 0.5em 0;
}

.questions {
  list-style: none;
  padding: 0;
}

.container {
  margin-bottom: 1em;
}

.question p {
  margin: 0;
}

.options ul {
  margin: 0 0 1em 0;
}

label {
  margin: 0 0 0 0.5em;
}

.leaderboard .row {
  padding: 1em;
}

.leaderboard .row.current {
  background-color: cornsilk;
}
